@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
    <tr>
        <th>Plaatje</th>       
        <th>Onderdelen</th>
        <th>Prijs</th>
    </tr>
    </thead>
    @foreach (var c in Model.Parts)
    {        
        <tr>
            <td><img style="width: 100px; height: 100px;" src="@c.Img" /></td>
            <td>@Html.DisplayName(c.Name)</td>
            <td>@Html.DisplayName(c.Price.ToString())</td>
        </tr>
    }
</table>